body {
            width: 1470px;
            height: 1024px;
            }    
        #header{
            height: 100px;
            width: 100%;
            position: fixed;
            z-index: 1;
            background-color: #aabac9;

            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            }
        #header_title{
            flex-grow: 1;

            margin: 0;
            padding: 20px;
            
            font-size: 20px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        #header_login{
            flex-grow: 2;
            width: 181px;
            height: 45px;
            position: fixed;
            text-align: center;
            border-radius: 8px;
            background: rgba(62, 85, 106, 0.49);
            margin: 15px 0px 0px 1250px;
        }

        #header_login p{
            margin: 0;
            padding: 10px;
            font-size: 20px;
            font-family: "Nato Sans", sans-serif;
            font-weight: lighter;
        }
        #sidebar {
            background: #DCDCDC;
            float: left;
            top: 100px;
            text-align: center;
            font-size: 16px;
            position: fixed;
            width: 270px;
            height: 1025px;
            flex-shrink: 0;

            background-color: #DADEE2;
            margin: 0;
            padding-top: 30px;
            /*внутренний отступ*/
            padding-right: 20px;
            /* для отступа справа белой рамки*/
            }
        #sidebar p{

            margin: 0;
            color: #324352;
            font-size: 23px;
            font-weight: lighter;
            text-align: center;
            padding: 15px;
			transition: 0s linear;
            }
		#sidebar p:hover{
			background: #E3E8EC;
            color: #324352;
            }			
        #titul{
            position: absolute;
            width: 353px;
            height: 59px;
            top: 100px;
            left: 705px;
            color: #3E556A;
            font-family: Inter;
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
        }
        #titul_Line{
            position: absolute;
            width: 345px;
            height: 0px;
            left: 705px;
            top: 202px;
            margin: 0px 0px 0px 0px;
            border: 1px solid #AABAC9;
        }
        #content {            
            position: absolute;
            width: 637px;
            height: 460px;
            left: 550px;
            top: 270px;
            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            color: #324352;
            margin: 0 0 1rem;
            text-align: center;
            }

        #left_part {
            float: left;           
        }
        #l_part{
            line-height: 1.8;
            text-underline-offset: 50px;
            padding: 10px;
        }
    
        #right_part {
            margin: 0px 0px 0px 115px;
            margin-bottom: 1em;

        }

        #cont {
            text-align: justify;
            padding: 10px;
        }

        #con_header_1 {
            
            background: #E3E8EC;
            width: 100%;
            padding: 5px;
            margin: 0px 0px 0px 0px;
        }

        #con_header_2 {
            background: #E3E8EC80;
            width: 100%;
            padding: 5px;
        }
        #Line_2 {
            position: absolute;
            width: 115px;
            height: 0px;
            left: 0px;
            top: auto;
            margin: 0px 0px 0px 0px;
            border: 1px solid #E3E8EC; 
        }

        #Line_3 {
            position: absolute;
            width: 524px;
            height: 0px;
            left: 0px;
            top: auto;
            margin: 0px 0px 0px 0px;
            border: 1px solid #E3E8EC80; 
            margin: 0px 0px 0px 120px;
        }